html

head
  meta(charset='UTF-8')
  link(type='text/css' href='style.css' rel='stylesheet')

body
  div
    h2.red test
  div.red.testing
  span#test.red.testing Carregando ...

  script(type='text/javascript' src='main.js')